<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Работа с товарами</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">

    <div th:replace="~{navigation :: navigation(Home)}" />

    <h4 class="card-title mt-2"><span>Страница товара</span></h4>

    <div th:object="${product}">

        <h5 th:text="*{title}" />
        <h5 th:text="*{description}" />

    </div>

    <br>

    <div sec:authorize="isAuthenticated()">

        <h6>Оставить оценку</h6>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">

                <form th:action="@{/product/rating}" th:method="POST">

                <button type="submit"  value="1" class="btn btn-secondary">1</button>
                <button type="submit"  value="2" class="btn btn-secondary">2</button>
                <button type="submit"  value="3" class="btn btn-secondary">3</button>
                <button type="submit"  value="4" class="btn btn-secondary">4</button>
                <button type="submit"  value="5" class="btn btn-secondary">5</button>

                </form>

            </div>

        </div>
    </div>




</div>
</body>
</html>